.search-arrow {
  margin: 0;
  border: 0;
  outline: 0;
  width: 20px;
  height: 20px;
}

.search-arrow_left {
  clip-path: polygon(0% 50%, 75% 0%, 75% 25%, 100% 25%, 100% 75%, 75% 75%, 75% 100%);
}

.search-arrow_right {
  clip-path: polygon(0% 25%, 25% 25%, 25% 0%, 100% 50%, 25% 100%, 25% 75%, 0% 75%);
}

/* .search-arrow__inactive {
  background-color: #BBB8BC;
} */

.search-arrow:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 767px) {
  .search-arrow {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 479px) {
  .search-arrow {
    width: 10px;
    height: 10px;
  }
}
