.header {
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-color: rgb(102,51,102);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  margin: 0;
}

.header__text {
  font-size: 20px;
  font-weight: normal;
  color: #fff
}

.header__text_worktime {
  margin: 0;
}

.header__text_address {
  margin: 0;
}

.header__phone {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  color: #fff
}

.header__link {
  margin: 0;
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1279px) {
  .header__text {
    font-size: 18px;
  }

  .header__phone {
    font-size: 24px;
  }
}

@media screen and (max-width: 1023px) {
  .header__text {
    font-size: 16px;
  }

  .header__phone {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px) {

}