.navbar {
  margin: 0;
  width: 100%;
  height: 100px;
  background-color: #8B88C6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_dark {
  background-color: #4F426A;
}

.navbar__list {
  width: 100%;
  margin: 0;
  padding: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  margin: 0;
  display: inline;
  font-size: 25px;
  line-height: 12px;
  color: #fff;
}

.navbar__dot {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #4F426A;
  border-radius: 50%;
}

.navbar__dot_dark {
  background-color: #8B88C6;
}

@media screen and (max-width: 1279px) {
  .navbar__list {
    padding: 0 70px;
   }
  
  .navbar__item {
    font-size: 20px;
    line-height: 9px;
  }
}

@media screen and (max-width: 1023px) {
  .navbar__list {
    padding: 0 35px;
   }
  
  .navbar__item {
    font-size: 18px;
    line-height: 7px;
  }
}

@media screen and (max-width: 850px) {
  .navbar__list {
    padding: 0 20px;
   }
}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 320px) {

}