.close-button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('../../Images/UI/popup_close_button.svg');
  opacity: .8;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-button:hover {
  cursor: pointer;
  opacity: 1;
}