.close-button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-image: url('../../Images/UI/popup_close_button.svg');
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: .8;
}

.close-button:hover {
  opacity: 1;
}