.contacts {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contacts__header {
  margin: 0;
  width: 100%;
  height: 90px;
  background-color: #E48EEE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  margin: 0;
  font-size: 40px;
  line-height: 52px;
  color: #FFF;
}

.contacts__container {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contacts__map {
  margin: 0;
  width: 62%;
  height: 62vw;
}

.contacts__data {
  margin: 0;
  width: 100%;
  height: 62vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('../../Images/contacts/contacts-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.contacts__main-logo {
  margin: 70px auto;
}

.contacts__data-container {
  margin: 0;
  width: 90%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(7, auto);
  justify-items: start;
  align-items: center;
}

.contacts__icon {
margin: 0;
width: 100%;
height: 100%;
background-position: center;
background-size: auto 22px;
background-repeat: no-repeat;
}

.contacts__icon_place {
  background-image: url('../../Images/contacts/contacts-point.png');
  /* background-position:  top 10px left; */
}

.contacts__icon_phone {
  background-image: url('../../Images/contacts/contacts-phone.png');
  /* background-position:  top 5px left; */
}

.contacts__icon_time {
  background-image: url('../../Images/contacts/contacts-time.png');
}

.contacts__icon_instagram {
  background-image: url('../../Images/contacts/contacts-ig-icon.png');
}

.contacts__description {
  margin: 5px 0;
  color: #4F426A;
}

.contacts__description_adress {
  font-size: 22px;
  line-height: 26px;
  /* margin: 0 0 10px 0; */
}

.contacts__description_adress_last {
  margin: 0 0 40px 0;
}

.contacts__description_phone {
  font-size: 30px;
  line-height: 32px;
  /* margin: 0 0 17px 0; */
}

.contacts__description_time-link {
  font-size: 22px;
  line-height: 24px;
  /* margin: 0 0 17px 0; */
}

/* .contacts__description_time-link_last {
  margin: 0;
} */

.contacts__subway {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
  margin: auto 6px auto 22px;
}

.contacts__subway_taganskaya {
  background-color: #7000B0;
}

.contacts__subway_marksistskaya {
  background-color: #FFE000;
}

@media screen and (max-width: 1023px) {
  .contacts__main-logo {
    margin: 18px auto;
    width: 160px;
    height: 24px;
  }

  .contacts__description {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__header {
    height: 55px;
  }

  .contacts__title {
   font-size: 27px;
  }

  .contacts__container {
  flex-direction: column;
  }

  .contacts__data {
    width: 100%;
    min-height: 80vw;
  }

  .contacts__map {
    width: 100%;
    height: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .contacts__header {
    height: 20px;
  }

  .contacts__title
 {
   font-size: 15px;
 }

 .contacts__data {
  width: 100%;
  min-height: 120vw;
  }
}
